---
const footerNav = [
  { name: 'Regulamin', href: '#' },
  { name: 'Gwarancja Cannondale', href: '#' },
  { name: 'Tabela rozmiarów', href: '#' },
  { name: 'Polityka prywatności', href: '#' },
  { name: 'Ciastka', href: '#' },
];
const socialNav = [
  { name: 'Instagram', href: 'https://www.instagram.com/jakoobcycles', icon: 'instagram' },
  { name: 'Facebook', href: 'https://www.facebook.com/PracowniaRowerowaJakoobcycles', icon: 'facebook' },
  { name: 'Flickr', href: 'https://www.flickr.com/photos/94791513@N04', icon: 'youtube' },
  { name: 'Google Maps', href: 'https://goo.gl/maps/s59TDhmZvhdZNPjB6', icon: 'google-maps' },
];
const currentYear = new Date().getFullYear();
---

<footer class="px-10 pb-20">
  <div class="font-light max-w-[1620px] mx-auto">
    <nav class="footer-menu">
      <ul class="flex text-lg">
        {footerNav.map(item => (
          <li><a href={item.href}>{item.name}</a></li>
        ))}
      </ul>
    </nav>
    <!-- <nav class="social-menu">
      <ul>
        {socialNav.map(i => (<li><a href={i.href}>{i.icon}</a></li>))}
      </ul>
    </nav> -->
    <p class="pt-2">Copyright © 2012 - {currentYear} Jakoobcycles</p>
  </div>
</footer>

<style>
  .footer-menu {
    @apply border-b-1 border-white/10 pb-3;
  }

  .footer-menu li {
    @apply border-l-1 border-white/25 line-height-none ml-3 pl-3;
  }

  .footer-menu li:first-child {
    @apply border-l-0 ml-0 pl-0;
  }

  a {
    @apply transition-all duration-300;
  }

  a:hover {
    @apply text-white;
  }
</style>