---
import { ClientRouter } from 'astro:transitions';
import type { ImageMetadata } from 'astro';
import PageFooter from '../components/PageFooter.astro';
import PageHeader from '../components/PageHeader.astro';

interface Props {
  title?: string;
  bgImgName?: string;
}

const {
  bgImgName = 'bg-default.webp',
  title = 'Jakoobcycles'
} = Astro.props;

const getPageBgImg = (imgName: string) => {
  const images = import.meta.glob<{default: ImageMetadata}>('../assets/img/*.webp', {
    eager: true,
  });

  const image = images[`../assets/img/${imgName}`].default;

  if (!image) {
    throw new Error(`Image ${imgName} not found`);
  }

  return image;
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="content">
      <PageHeader />
      <main class="flex-1 p-10">
        <div class="max-w-[1620px] mx-auto">
          <slot />
        </div>
      </main>
      <PageFooter />
    </div>
  </body>
</html>

<style define:vars={{ bgImg: `url(${getPageBgImg(bgImgName).src})` }}>
  .content {
    @apply bg-(black center cover no-repeat) flex flex-col font-lato gap-10 h-screen overflow-hidden text-zinc-400;
    background-image: var(--bgImg);
  }
</style>